<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
            <div class="app-brand demo">
                <a href="?profile=home" class="app-brand-link" target="_blank">
                    <img src="assets/vendor/images/arkadia.svg" alt="iklandisini.com" width="137" height="47" class="logo-side" />
                </a>

                <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                    <i class="bx bx-chevron-left bx-sm align-middle"></i>
                </a>
            </div>

            <div class="menu-inner-shadow"></div>

            <ul class="menu-inner py-1">
                <!-- Dashboard -->
                <li class="menu-item">
                    <a href="?profile=home" class="menu-link">
                        <i class="menu-icon tf-icons bx bx-home-circle"></i>
                        <div data-i18n="Analytics">Dashboard</div>
                    </a>
                </li>


                <li class="menu-header small text-uppercase">
                    <span class="menu-header-text">Konten</span>
                </li>

                <li class="menu-item open active">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <i class="menu-icon tf-icons bx bx-detail"></i>
                        <div data-i18n="Account Settings">Post</div>
                    </a>
                    <ul class="menu-sub">
                        <li class="menu-item active">
                            <a href="?profile=all-post" class="menu-link">
                                <!-- <i class='menu-icon bx bxs-message-alt-detail'></i> -->
                                <div data-i18n="Account">All Post</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="?profile=new-post" class="menu-link">
                                <!-- <i class='menu-icon bx bx-edit'></i> -->
                                <div data-i18n="Notifications">New</div>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="menu-item">
                    <a href="?profile=galeri" class="menu-link">
                        <i class='menu-icon bx bx-photo-album'></i>
                        <div data-i18n="Analytics">Galeri</div>
                    </a>
                </li>

                <!-- Forms & Tables -->
                <li class="menu-header small text-uppercase"><span class="menu-header-text">Setting</span></li>
                <li class="menu-item">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
                        <div data-i18n="Account Settings">Account Settings</div>
                    </a>
                    <ul class="menu-sub">
                        <li class="menu-item">
                            <a href="?profile=pages-account-settings-password" class="menu-link">
                                <div data-i18n="Notifications">Password</div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">

            <div class="card-bg my-3">
                <!-- <h5 class="card-account">Profile Details</h5> -->

                <header>
                    <div class="container">
                        <div class="row">
                            <h1 class="h3 mb-1 ps-5 fw-bold mt-5 text-white">All Content Post</h1>
                            <!-- <p class="ps-5 mb-5 text-white">Experience a simple yet powerful way to build Dasboards with Iklandisini</p> -->
                        </div>
                    </div>
                </header>

            </div>


            <!-- content wrapper -->
            <div class="content-wrapper">
                <!-- Dashboard  -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="card mb-4" style="position:relative;top:-150px">

                        <div id="posts">
                            <div class="container">
                                <h1 class="h3 mb-3 fw-bold mt-5 ps-1" style="color:#440C0C">POSTS</h1>
                                <ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="pills-all-tab" data-bs-toggle="pill" data-bs-target="#pills-all" type="button" role="tab" aria-controls="pills-all" aria-selected="true">All</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-publish-tab" data-bs-toggle="pill" data-bs-target="#pills-publish" type="button" role="tab" aria-controls="pills-publish" aria-selected="false">Published</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-schedule-tab" data-bs-toggle="pill" data-bs-target="#pills-schedule" type="button" role="tab" aria-controls="pills-schedule" aria-selected="false">Scheduled</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-draft-tab" data-bs-toggle="pill" data-bs-target="#pills-draft" type="button" role="tab" aria-controls="pills-draft" aria-selected="false">Draft</button>
                                    </li>
                                </ul>
                                <div class="tab-content" id="pills-tabContent">

                                    <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">

                                        <div class="col-sm-12 col-12">
                                            <div class="post">
                                                <div>
                                                    <img src="assets/vendor/images/post.png" alt="iklandisini.com" width="90" height="90" />
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <a href="?profile=preview-post">
                                                                <div class="row">
                                                                    <div class="col-lg-12">
                                                                        <a href="?profile=preview-post">
                                                                            <span>FIFA Turun Tangan Jelang Semifinal Piala AFF 2022, Media Vietnam Sindir Tragedi Kanjuruhan</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="text">ID : 66000</div>
                                                            <div class="text">Dunia</div>
                                                            <div class="text-published">Published</div>
                                                        </div>

                                                        <div class="col-lg-5">
                                                            <div class="text">Publish: 04 Jan 2023 22:18</div>
                                                            <div class="text">Last Update: 04 Jan 2023 22:19</div>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <div class="text">Ronald S</div>
                                                            <div class="text">SID: 1592018</div>
                                                            <div>
                                                                <a href="#" class="menu-link text-cache">
                                                                    <i class='menu-icon bx bx-refresh'></i>
                                                                    <div>Clear Cache</div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <a class="edit" href="?profile=new-post">
                                                    <i class='menu-icon bx bx-edit-alt'></i>
                                                    <div>Edit</div>
                                                </a>
                                            </div>

                                            <div class="post">
                                                <div>
                                                    <img src="assets/vendor/images/post.png" alt="iklandisini.com" width="90" height="90" />
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <a href="?profile=preview-post">
                                                                <div class="row">
                                                                    <div class="col-lg-12">
                                                                        <a href="?profile=preview-post">
                                                                            <span>FIFA Turun Tangan Jelang Semifinal Piala AFF 2022, Media Vietnam Sindir Tragedi Kanjuruhan</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="text">ID : 66000</div>
                                                            <div class="text">Dunia</div>
                                                            <div class="text-published">Published</div>
                                                        </div>

                                                        <div class="col-lg-5">
                                                            <div class="text">Publish: 04 Jan 2023 22:18</div>
                                                            <div class="text">Last Update: 04 Jan 2023 22:19</div>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <div class="text">Ronald S</div>
                                                            <div class="text">SID: 1592018</div>
                                                            <div>
                                                                <a href="#" class="menu-link text-cache">
                                                                    <i class='menu-icon bx bx-refresh'></i>
                                                                    <div>Clear Cache</div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <a class="edit" href="?profile=new-post">
                                                    <i class='menu-icon bx bx-edit-alt'></i>
                                                    <div>Edit</div>
                                                </a>
                                            </div>

                                            <div class="post">
                                                <div>
                                                    <img src="assets/vendor/images/post.png" alt="iklandisini.com" width="90" height="90" />
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <a href="?profile=preview-post">
                                                                <span>FIFA Turun Tangan Jelang Semifinal Piala AFF 2022, Media Vietnam Sindir Tragedi Kanjuruhan</span>
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="text">ID : 66000</div>
                                                            <div class="text">Dunia</div>
                                                            <div class="text-published">Published</div>
                                                        </div>

                                                        <div class="col-lg-5">
                                                            <div class="text">Publish: 04 Jan 2023 22:18</div>
                                                            <div class="text">Last Update: 04 Jan 2023 22:19</div>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <div class="text">Ronald S</div>
                                                            <div class="text">SID: 1592018</div>
                                                            <div>
                                                                <a href="#" class="menu-link text-cache">
                                                                    <i class='menu-icon bx bx-refresh'></i>
                                                                    <div>Clear Cache</div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <a class="edit" href="?profile=new-post">
                                                    <i class='menu-icon bx bx-edit-alt'></i>
                                                    <div>Edit</div>
                                                </a>
                                            </div>

                                            <div class="post">
                                                <div>
                                                    <img src="assets/vendor/images/post.png" alt="iklandisini.com" width="90" height="90" />
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <a href="?profile=preview-post">
                                                                <span>FIFA Turun Tangan Jelang Semifinal Piala AFF 2022, Media Vietnam Sindir Tragedi Kanjuruhan</span>
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="text">ID : 66000</div>
                                                            <div class="text">Dunia</div>
                                                            <div class="text-published">Published</div>
                                                        </div>

                                                        <div class="col-lg-5">
                                                            <div class="text">Publish: 04 Jan 2023 22:18</div>
                                                            <div class="text">Last Update: 04 Jan 2023 22:19</div>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <div class="text">Ronald S</div>
                                                            <div class="text">SID: 1592018</div>
                                                            <div>
                                                                <a href="#" class="menu-link text-cache">
                                                                    <i class='menu-icon bx bx-refresh'></i>
                                                                    <div>Clear Cache</div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <a class="edit" href="?profile=new-post">
                                                    <i class='menu-icon bx bx-edit-alt'></i>
                                                    <div>Edit</div>
                                                </a>
                                            </div>

                                            <div class="post">
                                                <div>
                                                    <img src="assets/vendor/images/post.png" alt="iklandisini.com" width="90" height="90" />
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <a href="?profile=preview-post">
                                                                <span>FIFA Turun Tangan Jelang Semifinal Piala AFF 2022, Media Vietnam Sindir Tragedi Kanjuruhan</span>
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="text">ID : 66000</div>
                                                            <div class="text">Dunia</div>
                                                            <div class="text-published">Published</div>
                                                        </div>

                                                        <div class="col-lg-5">
                                                            <div class="text">Publish: 04 Jan 2023 22:18</div>
                                                            <div class="text">Last Update: 04 Jan 2023 22:19</div>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <div class="text">Ronald S</div>
                                                            <div class="text">SID: 1592018</div>
                                                            <div>
                                                                <a href="#" class="menu-link text-cache">
                                                                    <i class='menu-icon bx bx-refresh'></i>
                                                                    <div>Clear Cache</div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <a class="edit" href="?profile=new-post">
                                                    <i class='menu-icon bx bx-edit-alt'></i>
                                                    <div>Edit</div>
                                                </a>
                                            </div>

                                        </div>

                                        <div class="pagination">
                                            <a href="#">&laquo;</a>
                                            <a href="#">1</a>
                                            <a href="#" class="active">2</a>
                                            <a href="#">3</a>
                                            <a href="#">4</a>
                                            <a href="#">&raquo;</a>
                                        </div>

                                    </div>

                                    <div class="tab-pane fade" id="pills-publish" role="tabpanel" aria-labelledby="pills-publish-tab">

                                        <div class="col-sm-12 col-12">
                                            <div class="post">
                                                <div>
                                                    <img src="assets/vendor/images/post.png" alt="iklandisini.com" width="90" height="90" />
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <a href="?profile=preview-post">
                                                                <span>FIFA Turun Tangan Jelang Semifinal Piala AFF 2022, Media Vietnam Sindir Tragedi Kanjuruhan</span>
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="text">ID : 66000</div>
                                                            <div class="text">Dunia</div>
                                                            <div class="text-published">Published</div>
                                                        </div>

                                                        <div class="col-lg-5">
                                                            <div class="text">Publish: 04 Jan 2023 22:18</div>
                                                            <div class="text">Last Update: 04 Jan 2023 22:19</div>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <div class="text">Ronald S</div>
                                                            <div class="text">SID: 1592018</div>
                                                            <div>
                                                                <a href="#" class="menu-link text-cache">
                                                                    <i class='menu-icon bx bx-refresh'></i>
                                                                    <div>Clear Cache</div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <a class="edit" href="?profile=new-post">
                                                    <i class='menu-icon bx bx-edit-alt'></i>
                                                    <div>Edit</div>
                                                </a>
                                            </div>

                                            <div class="post">
                                                <div>
                                                    <img src="assets/vendor/images/post.png" alt="iklandisini.com" width="90" height="90" />
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <a href="?profile=preview-post">
                                                                <span>FIFA Turun Tangan Jelang Semifinal Piala AFF 2022, Media Vietnam Sindir Tragedi Kanjuruhan</span>
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="text">ID : 66000</div>
                                                            <div class="text">Dunia</div>
                                                            <div class="text-published">Published</div>
                                                        </div>

                                                        <div class="col-lg-5">
                                                            <div class="text">Publish: 04 Jan 2023 22:18</div>
                                                            <div class="text">Last Update: 04 Jan 2023 22:19</div>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <div class="text">Ronald S</div>
                                                            <div class="text">SID: 1592018</div>
                                                            <div>
                                                                <a href="#" class="menu-link text-cache">
                                                                    <i class='menu-icon bx bx-refresh'></i>
                                                                    <div>Clear Cache</div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <a class="edit" href="?profile=new-post">
                                                    <i class='menu-icon bx bx-edit-alt'></i>
                                                    <div>Edit</div>
                                                </a>
                                            </div>

                                            <div class="post">
                                                <div>
                                                    <img src="assets/vendor/images/post.png" alt="iklandisini.com" width="90" height="90" />
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <a href="?profile=preview-post">
                                                                <span>FIFA Turun Tangan Jelang Semifinal Piala AFF 2022, Media Vietnam Sindir Tragedi Kanjuruhan</span>
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="text">ID : 66000</div>
                                                            <div class="text">Dunia</div>
                                                            <div class="text-published">Published</div>
                                                        </div>

                                                        <div class="col-lg-5">
                                                            <div class="text">Publish: 04 Jan 2023 22:18</div>
                                                            <div class="text">Last Update: 04 Jan 2023 22:19</div>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <div class="text">Ronald S</div>
                                                            <div class="text">SID: 1592018</div>
                                                            <div>
                                                                <a href="#" class="menu-link text-cache">
                                                                    <i class='menu-icon bx bx-refresh'></i>
                                                                    <div>Clear Cache</div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <a class="edit" href="?profile=new-post">
                                                    <i class='menu-icon bx bx-edit-alt'></i>
                                                    <div>Edit</div>
                                                </a>
                                            </div>

                                            <div class="post">
                                                <div>
                                                    <img src="assets/vendor/images/post.png" alt="iklandisini.com" width="90" height="90" />
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <a href="?profile=preview-post">
                                                                <span>FIFA Turun Tangan Jelang Semifinal Piala AFF 2022, Media Vietnam Sindir Tragedi Kanjuruhan</span>
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="text">ID : 66000</div>
                                                            <div class="text">Dunia</div>
                                                            <div class="text-published">Published</div>
                                                        </div>

                                                        <div class="col-lg-5">
                                                            <div class="text">Publish: 04 Jan 2023 22:18</div>
                                                            <div class="text">Last Update: 04 Jan 2023 22:19</div>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <div class="text">Ronald S</div>
                                                            <div class="text">SID: 1592018</div>
                                                            <div>
                                                                <a href="#" class="menu-link text-cache">
                                                                    <i class='menu-icon bx bx-refresh'></i>
                                                                    <div>Clear Cache</div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <a class="edit" href="?profile=new-post">
                                                    <i class='menu-icon bx bx-edit-alt'></i>
                                                    <div>Edit</div>
                                                </a>
                                            </div>

                                            <div class="post">
                                                <div>
                                                    <img src="assets/vendor/images/post.png" alt="iklandisini.com" width="90" height="90" />
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <a href="?profile=preview-post">
                                                                <span>FIFA Turun Tangan Jelang Semifinal Piala AFF 2022, Media Vietnam Sindir Tragedi Kanjuruhan</span>
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="text">ID : 66000</div>
                                                            <div class="text">Dunia</div>
                                                            <div class="text-published">Published</div>
                                                        </div>

                                                        <div class="col-lg-5">
                                                            <div class="text">Publish: 04 Jan 2023 22:18</div>
                                                            <div class="text">Last Update: 04 Jan 2023 22:19</div>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <div class="text">Ronald S</div>
                                                            <div class="text">SID: 1592018</div>
                                                            <div>
                                                                <a href="#" class="menu-link text-cache">
                                                                    <i class='menu-icon bx bx-refresh'></i>
                                                                    <div>Clear Cache</div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <a class="edit" href="?profile=new-post">
                                                    <i class='menu-icon bx bx-edit-alt'></i>
                                                    <div>Edit</div>
                                                </a>
                                            </div>

                                        </div>

                                        <div class="pagination">
                                            <a href="#">&laquo;</a>
                                            <a href="#">1</a>
                                            <a href="#" class="active">2</a>
                                            <a href="#">3</a>
                                            <a href="#">4</a>
                                            <a href="#">5</a>
                                            <a href="#">6</a>
                                            <a href="#">&raquo;</a>
                                        </div>

                                    </div>

                                    <div class="tab-pane fade" id="pills-schedule" role="tabpanel" aria-labelledby="pills-schedule-tab">

                                        <div class="col-sm-12 col-12">
                                            <div class="post">
                                                <div>
                                                    <img src="assets/vendor/images/post.png" alt="iklandisini.com" width="90" height="90" />
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <a href="?profile=preview-post">
                                                                <span>FIFA Turun Tangan Jelang Semifinal Piala AFF 2022, Media Vietnam Sindir Tragedi Kanjuruhan</span>
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="text">ID : 66000</div>
                                                            <div class="text">Dunia</div>
                                                            <div class="text-scheduled">Scheduled</div>
                                                        </div>

                                                        <div class="col-lg-5">
                                                            <div class="text">Publish: 04 Jan 2023 22:18</div>
                                                            <div class="text">Last Update: 04 Jan 2023 22:19</div>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <div class="text">Ronald S</div>
                                                            <div class="text">SID: 1592018</div>
                                                            <div>
                                                                <a href="#" class="menu-link text-cache">
                                                                    <i class='menu-icon bx bx-refresh'></i>
                                                                    <div>Clear Cache</div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <a class="edit" href="?profile=new-post">
                                                    <i class='menu-icon bx bx-edit-alt'></i>
                                                    <div>Edit</div>
                                                </a>
                                            </div>

                                            <div class="post">
                                                <div>
                                                    <img src="assets/vendor/images/post.png" alt="iklandisini.com" width="90" height="90" />
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <a href="?profile=preview-post">
                                                                <span>FIFA Turun Tangan Jelang Semifinal Piala AFF 2022, Media Vietnam Sindir Tragedi Kanjuruhan</span>
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="text">ID : 66000</div>
                                                            <div class="text">Dunia</div>
                                                            <div class="text-scheduled">Scheduled</div>
                                                        </div>

                                                        <div class="col-lg-5">
                                                            <div class="text">Publish: 04 Jan 2023 22:18</div>
                                                            <div class="text">Last Update: 04 Jan 2023 22:19</div>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <div class="text">Ronald S</div>
                                                            <div class="text">SID: 1592018</div>
                                                            <div>
                                                                <a href="#" class="menu-link text-cache">
                                                                    <i class='menu-icon bx bx-refresh'></i>
                                                                    <div>Clear Cache</div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <a class="edit" href="?profile=new-post">
                                                    <i class='menu-icon bx bx-edit-alt'></i>
                                                    <div>Edit</div>
                                                </a>
                                            </div>

                                            <div class="post">
                                                <div>
                                                    <img src="assets/vendor/images/post.png" alt="iklandisini.com" width="90" height="90" />
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <a href="?profile=preview-post">
                                                                <span>FIFA Turun Tangan Jelang Semifinal Piala AFF 2022, Media Vietnam Sindir Tragedi Kanjuruhan</span>
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="text">ID : 66000</div>
                                                            <div class="text">Dunia</div>
                                                            <div class="text-scheduled">Scheduled</div>
                                                        </div>

                                                        <div class="col-lg-5">
                                                            <div class="text">Publish: 04 Jan 2023 22:18</div>
                                                            <div class="text">Last Update: 04 Jan 2023 22:19</div>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <div class="text">Ronald S</div>
                                                            <div class="text">SID: 1592018</div>
                                                            <div>
                                                                <a href="#" class="menu-link text-cache">
                                                                    <i class='menu-icon bx bx-refresh'></i>
                                                                    <div>Clear Cache</div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <a class="edit" href="?profile=new-post">
                                                    <i class='menu-icon bx bx-edit-alt'></i>
                                                    <div>Edit</div>
                                                </a>
                                            </div>

                                            <div class="post">
                                                <div>
                                                    <img src="assets/vendor/images/post.png" alt="iklandisini.com" width="90" height="90" />
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <a href="?profile=preview-post">
                                                                <span>FIFA Turun Tangan Jelang Semifinal Piala AFF 2022, Media Vietnam Sindir Tragedi Kanjuruhan</span>
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="text">ID : 66000</div>
                                                            <div class="text">Dunia</div>
                                                            <div class="text-scheduled">Scheduled</div>
                                                        </div>

                                                        <div class="col-lg-5">
                                                            <div class="text">Publish: 04 Jan 2023 22:18</div>
                                                            <div class="text">Last Update: 04 Jan 2023 22:19</div>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <div class="text">Ronald S</div>
                                                            <div class="text">SID: 1592018</div>
                                                            <div>
                                                                <a href="#" class="menu-link text-cache">
                                                                    <i class='menu-icon bx bx-refresh'></i>
                                                                    <div>Clear Cache</div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <a class="edit" href="?profile=new-post">
                                                    <i class='menu-icon bx bx-edit-alt'></i>
                                                    <div>Edit</div>
                                                </a>
                                            </div>

                                            <div class="post">
                                                <div>
                                                    <img src="assets/vendor/images/post.png" alt="iklandisini.com" width="90" height="90" />
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <a href="?profile=preview-post">
                                                                <span>FIFA Turun Tangan Jelang Semifinal Piala AFF 2022, Media Vietnam Sindir Tragedi Kanjuruhan</span>
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="text">ID : 66000</div>
                                                            <div class="text">Dunia</div>
                                                            <div class="text-scheduled">Scheduled</div>
                                                        </div>

                                                        <div class="col-lg-5">
                                                            <div class="text">Publish: 04 Jan 2023 22:18</div>
                                                            <div class="text">Last Update: 04 Jan 2023 22:19</div>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <div class="text">Ronald S</div>
                                                            <div class="text">SID: 1592018</div>
                                                            <div>
                                                                <a href="#" class="menu-link text-cache">
                                                                    <i class='menu-icon bx bx-refresh'></i>
                                                                    <div>Clear Cache</div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <a class="edit" href="?profile=new-post">
                                                    <i class='menu-icon bx bx-edit-alt'></i>
                                                    <div>Edit</div>
                                                </a>
                                            </div>

                                        </div>

                                        <div class="pagination">
                                            <a href="#">&laquo;</a>
                                            <a href="#">1</a>
                                            <a href="#" class="active">2</a>
                                            <a href="#">3</a>
                                            <a href="#">4</a>
                                            <a href="#">5</a>
                                            <a href="#">6</a>
                                            <a href="#">&raquo;</a>
                                        </div>

                                    </div>

                                    <div class="tab-pane fade" id="pills-draft" role="tabpanel" aria-labelledby="pills-draft-tab">

                                        <div class="col-sm-12 col-12">
                                            <div class="post">
                                                <div>
                                                    <img src="assets/vendor/images/post.png" alt="iklandisini.com" width="90" height="90" />
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <a href="?profile=preview-post">
                                                                <span>FIFA Turun Tangan Jelang Semifinal Piala AFF 2022, Media Vietnam Sindir Tragedi Kanjuruhan</span>
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="text">ID : 66000</div>
                                                            <div class="text">Dunia</div>
                                                            <div class="text-draft">Draft</div>
                                                        </div>

                                                        <div class="col-lg-5">
                                                            <div class="text">Publish: 04 Jan 2023 22:18</div>
                                                            <div class="text">Last Update: 04 Jan 2023 22:19</div>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <div class="text">Ronald S</div>
                                                            <div class="text">SID: 1592018</div>
                                                            <div>
                                                                <a href="#" class="menu-link text-cache">
                                                                    <i class='menu-icon bx bx-refresh'></i>
                                                                    <div>Clear Cache</div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <a class="edit" href="?profile=new-post">
                                                    <i class='menu-icon bx bx-edit-alt'></i>
                                                    <div>Edit</div>
                                                </a>
                                            </div>

                                            <div class="post">
                                                <div>
                                                    <img src="assets/vendor/images/post.png" alt="iklandisini.com" width="90" height="90" />
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <a href="?profile=preview-post">
                                                                <span>FIFA Turun Tangan Jelang Semifinal Piala AFF 2022, Media Vietnam Sindir Tragedi Kanjuruhan</span>
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="text">ID : 66000</div>
                                                            <div class="text">Dunia</div>
                                                            <div class="text-draft">Draft</div>
                                                        </div>

                                                        <div class="col-lg-5">
                                                            <div class="text">Publish: 04 Jan 2023 22:18</div>
                                                            <div class="text">Last Update: 04 Jan 2023 22:19</div>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <div class="text">Ronald S</div>
                                                            <div class="text">SID: 1592018</div>
                                                            <div>
                                                                <a href="#" class="menu-link text-cache">
                                                                    <i class='menu-icon bx bx-refresh'></i>
                                                                    <div>Clear Cache</div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <a class="edit" href="?profile=new-post">
                                                    <i class='menu-icon bx bx-edit-alt'></i>
                                                    <div>Edit</div>
                                                </a>
                                            </div>

                                            <div class="post">
                                                <div>
                                                    <img src="assets/vendor/images/post.png" alt="iklandisini.com" width="90" height="90" />
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <a href="?profile=preview-post">
                                                                <span>FIFA Turun Tangan Jelang Semifinal Piala AFF 2022, Media Vietnam Sindir Tragedi Kanjuruhan</span>
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="text">ID : 66000</div>
                                                            <div class="text">Dunia</div>
                                                            <div class="text-draft">Draft</div>
                                                        </div>

                                                        <div class="col-lg-5">
                                                            <div class="text">Publish: 04 Jan 2023 22:18</div>
                                                            <div class="text">Last Update: 04 Jan 2023 22:19</div>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <div class="text">Ronald S</div>
                                                            <div class="text">SID: 1592018</div>
                                                            <div>
                                                                <a href="#" class="menu-link text-cache">
                                                                    <i class='menu-icon bx bx-refresh'></i>
                                                                    <div>Clear Cache</div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <a class="edit" href="?profile=new-post">
                                                    <i class='menu-icon bx bx-edit-alt'></i>
                                                    <div>Edit</div>
                                                </a>
                                            </div>

                                            <div class="post">
                                                <div>
                                                    <img src="assets/vendor/images/post.png" alt="iklandisini.com" width="90" height="90" />
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <a href="?profile=preview-post">
                                                                <span>FIFA Turun Tangan Jelang Semifinal Piala AFF 2022, Media Vietnam Sindir Tragedi Kanjuruhan</span>
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="text">ID : 66000</div>
                                                            <div class="text">Dunia</div>
                                                            <div class="text-draft">Draft</div>
                                                        </div>

                                                        <div class="col-lg-5">
                                                            <div class="text">Publish: 04 Jan 2023 22:18</div>
                                                            <div class="text">Last Update: 04 Jan 2023 22:19</div>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <div class="text">Ronald S</div>
                                                            <div class="text">SID: 1592018</div>
                                                            <div>
                                                                <a href="#" class="menu-link text-cache">
                                                                    <i class='menu-icon bx bx-refresh'></i>
                                                                    <div>Clear Cache</div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <a class="edit" href="?profile=new-post">
                                                    <i class='menu-icon bx bx-edit-alt'></i>
                                                    <div>Edit</div>
                                                </a>
                                            </div>

                                            <div class="post">
                                                <div>
                                                    <img src="assets/vendor/images/post.png" alt="iklandisini.com" width="90" height="90" />
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <a href="?profile=preview-post">
                                                                <span>FIFA Turun Tangan Jelang Semifinal Piala AFF 2022, Media Vietnam Sindir Tragedi Kanjuruhan</span>
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="text">ID : 66000</div>
                                                            <div class="text">Dunia</div>
                                                            <div class="text-draft">Draft</div>
                                                        </div>

                                                        <div class="col-lg-5">
                                                            <div class="text">Publish: 04 Jan 2023 22:18</div>
                                                            <div class="text">Last Update: 04 Jan 2023 22:19</div>
                                                        </div>

                                                        <div class="col-lg-3">
                                                            <div class="text">Ronald S</div>
                                                            <div class="text">SID: 1592018</div>
                                                            <div>
                                                                <a href="#" class="menu-link text-cache">
                                                                    <i class='menu-icon bx bx-refresh'></i>
                                                                    <div>Clear Cache</div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <a class="edit" href="?profile=new-post">
                                                    <i class='menu-icon bx bx-edit-alt'></i>
                                                    <div>Edit</div>
                                                </a>
                                            </div>

                                        </div>

                                        <div class="pagination">
                                            <a href="#">&laquo;</a>
                                            <a href="#">1</a>
                                            <a href="#" class="active">2</a>
                                            <a href="#">3</a>
                                            <a href="#">4</a>
                                            <a href="#">5</a>
                                            <a href="#">6</a>
                                            <a href="#">&raquo;</a>
                                        </div>

                                    </div>

                                </div>
                            </div>



                        </div>


                        <div class="content-backdrop fade"></div>
                    </div>
                    <!-- Content wrapper -->
                </div>
                <!-- / Layout page -->
            </div>
            <!-- end content wrapper -->


            <!-- <div class="content-backdrop fade"></div> -->
        </div>
        <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->